p {
    color: orange}

h1 {
        color:blue
    }
a {
    background-color: green;
}

#parrafo3 {color: green;}

.parrafogris{color: gray;}
.fondorojo{background-color: red;}
.textgrandenegrita {font-size: x-large; font-weight: 100; font-style: normal; font-family: Arial, Helvetica, sans-serif;}

.imagenpequeña{ height: 200px;}

.contenedorconmargen 
{margin-top: 10px;
margin-left: 20px;
margin-right: 20px;
margin-bottom:10px;
border: 1px solid red;
padding: 10px; }

.contenedordivs {
    border: 2px solid green;
    display: grid;
    grid-column: auto;
    grid-template-rows: 50px 50px;
    grid-template-columns: 30% 30% 40%;
    margin: 30px;

}

.contenedordivsflex {
    border: 2px solid green;
    display: flex;

}
 